# Entornos virtuales
venv/
.venv/
env/
ENV/

# Python cache y compilados
__pycache__/
*.py[cod]
*.class
*.tmp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*-checkpoint.ipynb

# Testing & Logs
.pytest_cache/
catboost_info/
logs/*.jsonl
logs/*.log

# IDEs y SO
.vscode/
.idea/
.DS_Store
Thumbs.db
